@use "../abstracts/variables" as *;

.hero {
  &-images {
    position: relative;
  }

  &-image__navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $clr-black;
  }
}
